body {
    min-width: 320px;
    max-width: 768px;
    margin: auto;
    background-color: #F5F8FA;;
}

header {
    margin: auto;
    background-color: midnightblue;
    width: 100%;
    height: 40px;
}

/*header css*/
.logo-dimensions {
    margin: 5px;
    margin-top: 5px;
    width: 90px;
    height: 30px;
}

.header-elem {
    display: inline-block;
}

.header-text-view {
    font-size: 25px;
    font-weight: 100;
    color: white;
}

.header-text-place {
    vertical-align: top;
    margin-top: 10px;
}

.header-but-place {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.header-but-dimensions {
    width: 60px;
    height: 30px;
}

.header-link {
    display: none;
}

.header-search {
    display: none;
}

.header-search-but-place {
    display: none;
}

.header-img {
    display: none;
}

.user-name {
    display: none;
}
/*main content div*/
.content-div {
    width: 100%;
    margin-left: 0%;
}

.search-input-dimensions {
    width: 98%;
    height: 15px;
}

.search-input-place {
    margin-top: 5px;
    margin-left: 1%;
}

.search-input-view {
    border-radius: 2px;
    border: solid 1px lightgray
}

/*sign-in*/
.sign-in-div-view {
    border-radius: 2px;
    border: solid 1px lightgray
}

.sign-in-div-place {
    margin-top: 5px;
    margin-left: 1%;
}

.sign-in-div-dimension {
    width: 98%;
}

.sign-in-logo-place {
    margin-top: 5px;
    margin-left: 5px;
}

.sign-in-text-view {
    font-size: 25px;
}

.sign-in-form {
    margin-top: 5px;
    margin-left: 5px;
}

.credentials {
    width: 60%;
    height: 15px;
    border-radius: 2px;
    border: solid 1px lightgray;
    margin-top: 10px;
}

.remember-me {
    margin-top: 10px;
}

.sign-in-but {
    margin-left: 90%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*gallery*/
.gallery-div {
    width: 98%;
    margin-top: 5px;
    margin-left: 1%;
    border-radius: 2px;
    border: solid 1px lightgray
}

.gallery-label {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.gallery-img {
    width: 98%;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*post div*/
.post-div {
    width: 98%;
    margin-top: 5px;
    margin-left: 1%;
    border-radius: 2px;
    border: solid 1px lightgray
}

.post-img {
    width: 100%;
}

.post-text {
    margin-left: 7px;
    font-size: 10px;
    margin-bottom: 5px;
}

.article-header {
    font-size: 20px;
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*footer*/
footer {
    width: 98%;
    margin-top: 10px;
    margin-left: 1%;
}

.foot-but {
    width: 100%;
}

.not-last {
    margin-left: 1%;
}

.foot-text-decor {
    font-size: 20px;
    font-weight: 100;
    margin-left: 20%;
    color: dodgerblue;
}

.foot-but-div {
    display: inline-block;

}

.not-last-text {
    margin-left: 23%;
}

.not-last-div {
    margin-left: 7%;
}

@media screen and (min-width: 768px) and (max-width: 992px){

    .header-link {
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
        margin-left: 10px;
    }

    .header-link-elem {
        margin-left: 5px;
    }

    .header-link-bar {
        color: white;
        text-decoration: none;
    }

    .header-but-place {
        display: none;
    }

    .header-search {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        margin-left: 20px;
        border-radius: 2px;
        border: solid 1px lightgray;
        height: 25px;
    }

    .header-search-but-place {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        height: 30px;
    }

    .header-img {
        display: inline-block;
        width: 40px;
        vertical-align: top;
        margin-top: 3px;
        border-radius: 50px;
    }

    .user-name {
        display: inline-block;
        color: white;
        vertical-align: top;
        margin-top: 15px;
    }

}
