body {
    width: 320px;
    margin: auto;
}

header {
    background-color: dodgerblue;
}

.header {
    display: inline-block;
    margin: 5px;
    align-content: center;
    vertical-align: middle;

}

.logo-img {
    width: 80px;
}

.header-text {
    font-weight: bold;
    font-size: 25px;
    color: white;

}

.header-but-div {
    width: 60px;
    height: 30px;
    float: right;
}

.header-but {
    margin-left: auto;
    height: 25px;
}

.search-div {
    width: 320px;
}

.search-input {
    width: 316px;
}

.login-form-div {
    margin-top: 5px;
}

h2 {
    font-size: 25px;
    font-weight: lighter;

}

.credentials {
    margin: 3px;
    margin-top: 10px;
    width: 316px;
}

.input-place {
    width: 270px;
}

.remember-me-div {
    margin: 5px;
    margin-top: 10px;
}

.remember-me {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.sign-in-but-div {
    float: right;
    margin: 5px;
}

